.products-list {
    .product-wrapper {
        cursor: pointer;
        .product-img {
            // min-height: 200px;
            // max-height: 200px;
            img {
                min-height: 200px;
                max-height: 200px;
            }
        }
        .title {
            font-size: 1.2rem;
        }
        .desc {
            color: var(--grey);
        }
    }
}