.categories {
    .categories-text {
        .text {
            color: var(--grey)
        }
    }
    .categories-wrapper {
        .category {
            label {
                border: 1px solid var(--grey);
                background-color: var(--white);
                color: var(--primary);
                border-radius: 10px;
                padding: 7px 15px;
                margin-inline-start: 0.9rem;
                cursor: pointer;
                transition: 0.3s all ease;
                &:hover {
                    background-color: var(--primary);
                    color: var(--white);
                }
            }
            label.active {
                background-color: var(--primary);
                color: var(--white);
            }
        }
    }

    @media (max-width:768px) {
        flex-wrap: wrap;
        .categories-wrapper {
            margin-top: 1rem;
            overflow: scroll;
            .category {
                label {
                    padding: 5px 12px;
                    margin-inline-start: 0.5rem;
                    white-space: nowrap;
                }
            }
        }
    }
}